@import url('https://fonts.googleapis.com/css?family=Handlee');

* {
  box-sizing: border-box;
}

body {
  width: 100%;
  margin: 0;
  padding: 0;
  font-family: arial, sans-serif;
  font-size: 0.9em;
  background-image: url('images/background.png');
  background-size: cover;
  background-repeat: repeat-y;
  font-family: 'Handlee', cursive;
}

section.items {
  width: 100%;
  display: grid;
  grid-template-columns: auto auto auto;
  max-width: 768px;
  margin: auto;
  border: solid 1px #E9FFF4;
  border-top: solid 0.25px #E9FFF4;
}

.item {
  background-color: #EED2EE	;
  border: solid 1px #E9FFF4;
}

#glasses, #headphones, #necklace, #me {
  width: 100%;
  height: auto;
}

#me {
  max-width: 768px;
}

footer {
  width: 100%;
  max-width: 768px;
  height: 44px;
  background-color: #9370DB;
  margin: auto;
  margin-top: -3px;
}

footer nav {
  width: 90%;
  margin: auto;
}

ul {
  width: 100%;
  height: 44px;
  padding: 0;
  margin: 0;
  list-style-type: none;
}

footer li {
  float: left;
  margin: auto;
  width: 25%;
  text-align: center;
  line-height: 44px;
}

footer li a {
  text-decoration: none;
  margin: auto;
  display: block;
  color: #E9FFF4;
}

iframe {
  width: 166px;
  background-color: darkgrey;
}

.hide {
  display: none;
}

.show {
  display: grid;
  position: absolute;
  top: 380px;
}

@media only screen and (min-width: 769px) {
   body {
     max-width: 772px;
     margin: auto;
     display: grid;
     grid-template-columns: auto auto;
     padding-top: 1%;
   }

   section.items {
     height: 300px;
     grid-template-columns: auto;
     grid-template-rows: auto auto auto;
     margin: 0;
   }

   .item {
     float: right;
     border-top: 1px solid #E9FFF4;
     max-width: 140px;
     min-width: 140px;
   }

   #me {
     max-width: 630px;
   }

   #glasses {
     border-top: 0;
   }

   .me {
     max-height: 672px;
   }

   footer {
     margin: 0;
     width: 630px;
   }

   .show {
     display: grid;
     position: absolute;
     top: 510px;
   }

   iframe {
     width: 300px;
   }
}
