body {
  font-family: 'Helvetica', 'Arial', sans-serif;
  background-color: #ffffff;
  background-image: url("images/portal-background.png");
  background-repeat: no-repeat;
  background-size: cover;
  color: #000;
  height: inherit;
  margin: auto;
}

header {
  margin: auto;
  margin-top: 50px;
  width: 800px;
  height: 650px;
}

#mySketch {
  margin: auto;
  width: 800px;
  height: 250px;
  background-color: #000;
}

h1 {
  width: 800px;
  margin: auto;
  padding: 0;
  text-align: center;
}

header img {
  max-width: 800px;
}

#container {
  margin: auto;
  padding: 0;
  margin-top: 0;
  width: 800px;
  display: grid;
  grid-template-columns: auto auto auto;
}

section {
  margin-left: 10px;
  margin-bottom: 100px;
}

h2 {
  color: #fff;
}

section > section {
  border: 1px solid #422801;
  background-color: #422801;
  padding-right: 20px;
  padding-left: 20px;
  padding-bottom: 20px;
  width: 210px;
}

ol,ul {
    padding: 0;
    list-style-type: none;
}

a {
  font-size: 14px;
  text-decoration: none;
  color: #9f5232;
}

a:hover {
  color: #8fd3f9;
}

footer {
  width: 100%;
  height: 50px;
  margin-top: 50px;
  background-color: #422801;
  position: fixed;
  bottom: 0;
}

footer nav {
  width: 400px;
  margin: auto;
}

footer li {
  float: left;
  margin: auto;
  width: 33%;
  text-align: center;
}

footer li a {
  margin: auto;
  display: block;
  color: white;
}
