* {
  box-sizing: border-box;
}

.container {
  width: 85%;
  margin: auto;
  display: grid;
}

header {
  display: block;
  width: 100%;
  height: 10%;
  font-size: 1em;
}

.wrapper {
  display: grid;
  grid-template-columns: auto auto;
}

#menu {
  display: block;
  width: 47%;
  max-height: 500px;
  height: auto;
  float: left;
  overflow-x: scroll;
  white-space: nowrap;
  margin-right: 5%;
}

#menu img {
  display: block;
  width: 32%;
  margin: 0.4%;
  height: auto;
  float: left;
  background-color: #F0F0F0;
}

#sandwich {
  display: block;
  background-color: #2196F3;
  width: 48%;
  height: auto;
  float: left;
}

#plate {
  width: 100%;
  height: auto;
  margin: auto;
}

#footprint {
  display: none;
  position: fixed;
  bottom: 25%;
  right: 25%;
  width: 600px;
  height: 400px;
}

canvas {
  padding: 20px;
  z-index: 11;
}

p {
  margin-left: 20px;
}

.foot {
  background-color: white;
  width: 600px;
}

footer {
  width: 100%;
  height: 50px;
  background-color: #2196F3;
  display: grid;
  margin-top: 2%;
  padding: 5px;
}

footer div {
  width: 60%;
  height: 40px;
  float: left;
}

footer nav {
  width: 40%;
  height: 40px;
  float: right;
  line-height: 10px;
}

footer li {
  float: left;
  margin: auto;
  width: 33%;
  text-align: center;
}

footer li a {
  margin: auto;
  display: block;
  color: white;
}

ol,ul {
    padding: 0;
    list-style-type: none;
}

.hide {
  display: none;
}

.show {
  width: 25%;
  height: inherit;
  display: block;
  position: absolute;
  left: 59%;
}
