@import url('https://fonts.googleapis.com/css?family=Pacifico&subset=cyrillic,latin-ext');
@import url('https://fonts.googleapis.com/css?family=Kalam:400,700');

body {
  width: 100%;
  height: inherit;
  font-size: 0.9em;
  font-family: "Kalam", sans-serif;
  background-color: #fff;
  background-image: url('images/background.png');
  background-repeat: repeat-y;
  background-size: 100%;
}

header {
  width: 100%;
  height: inherit;
}

h1 {
  padding-left: 7.5%;
  font-size: 2.4em;
  font-family: "Pacifico", sans-serif;
  padding-top: 5%;
  padding-bottom: 1%;
  margin: 0;
}

header img {
  position: absolute;
  top: -2%;
  right: 38%;
  z-index: -1;
}

p {
  width: 91%;
  font-family: "Kalam", sans-serif;
  font-size: 1.1em;
  background-color: #F0F0F0;
  padding: 4%;
  border: solid #DCDCDC 1px;
}

.container {
  display: grid;
  grid-template-columns: 50% 50%;
}

#madLib {
  width: 70%;
  height: inherit;
  margin: auto;
}

#finalProduct {
  width: 55%;
  height: inherit;
  margin: auto;
}

footer {
  width: 50%;
  height: 45px;
}

footer nav {
  width: 50%;
  margin: auto;
  margin-top: 4%;
  border-top: #212f47 solid 1px;
  overflow: hidden;
}

footer li {
  float: left;
  margin: auto;
  width: 33%;
  text-align: center;
}

footer li a {
  margin: auto;
  display: block;
  color: #212f47;
  text-decoration: none;
}

footer li a:hover {
  color: #4CAF50;
}

ul {
  padding: 0;
  list-style-type: none;
}

input[type=submit], input[type=reset] {
  border: none;
  width: 48%;
  color: white;
  padding: 10px 20px;
  margin-top: 4px;
  text-decoration: none;
  cursor: pointer;
}

input[type=submit] {
  background-color: #4CAF50;align-items:baseline;
  margin-left: 2px;
}

input[type=reset] {
  background-color: #FF6347;
  margin-left: 2px;
  margin-right: 6px;
}

input[type=text] {
  padding-left: 4px;
  padding-top: 4px;
  width: 60%;
}

form {
  background-color: #F0F0F0;
  padding: 2%;
}

fieldset {
  border: solid 0.5px #A8A8A8;
  border-bottom: none;
  padding-top: 6px;
  padding-bottom: 6px;
}

fieldset div {
  margin-top: 5px;
}

#submission {
  border-bottom: solid 0.5px #A8A8A8;
}

#mySketch {
  width: 350px;
  height: 250px;
  background-image: url('images/canvas.png');
  background-repeat: no-repeat;
  background-position: left top;
  background-size: 350px 250px;
}

.hide {
  opacity:0;
  transition:all 2s;
}

.show {
  opacity:1;
  transition:all 2s;
}
